<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.nblog.dao.UserMapper">

	<resultMap id="BaseResultMap" type="com.nblog.bean.User">
		
		<id column="UserNo" jdbcType="VARCHAR" property="userNo" />
        <result column="UserName" jdbcType="VARCHAR" property="userName"/>
        <result column="Password" jdbcType="VARCHAR" property="password"/>
        <result column="CredentialsSalt" jdbcType="VARCHAR" property="credentialsSalt"/>
        <result column="Email" jdbcType="VARCHAR" property="email"/>
        <result column="MobilePhone" jdbcType="CHAR" property="mobilePhone"/>
        <result column="Address" jdbcType="VARCHAR" property="address"/>
        <result column="Career" jdbcType="VARCHAR" property="career"/>
        <result column="Industry" jdbcType="VARCHAR" property="industry"/>
        <result column="Locked" jdbcType="VARCHAR" property="locked"/>
        <result column="SignTime" jdbcType="CHAR" property="signTime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="User_columns">
	    
        	UserNo,
        	UserName,
        	Password,
        	CredentialsSalt,
        	Email,
        	MobilePhone,
        	Address,
        	Career,
        	Industry,
        	Locked,
        	SignTime
	    
	</sql>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM User
			WHERE UserNo = #{userNo}
	</delete>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="com.nblog.bean.User" useGeneratedKeys="true" keyProperty="userNo">
    
        INSERT INTO User (
        	UserNo ,
        	UserName ,
        	Password ,
        	CredentialsSalt ,
        	Email ,
        	MobilePhone ,
        	Address ,
        	Career ,
        	Industry ,
        	Locked ,
        	SignTime 
        ) VALUES (
			#{userNo} ,
			#{userName} ,
			#{password} ,
			#{credentialsSalt} ,
			#{email} ,
			#{mobilePhone} ,
			#{address} ,
			#{career} ,
			#{industry} ,
			#{locked} ,
			#{signTime} 
        )
	</insert>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT <include refid="User_columns" />
		FROM User
		WHERE UserNo = #{userNo}
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT <include refid="User_columns" />
		FROM User
	</select>
	
	<select id="selectByPage" resultMap="BaseResultMap">
		SELECT <include refid="User_columns" />
		FROM User
	</select>
	
	<update id="updateByPrimaryKey" parameterType="com.nblog.bean.User">
		UPDATE User SET
	        UserName = #{userName} ,
	        Password = #{password} ,
	        CredentialsSalt = #{credentialsSalt} ,
	        Email = #{email} ,
	        MobilePhone = #{mobilePhone} ,
	        Address = #{address} ,
	        Career = #{career} ,
	        Industry = #{industry} ,
	        Locked = #{locked} ,
	        SignTime = #{signTime} 
        WHERE UserNo = #{userNo}
	</update>
	
	<update id="updateByPrimaryKeys">   
        UPDATE User SET
	        UserName = #{userName} ,
	        Password = #{password} ,
	        CredentialsSalt = #{credentialsSalt} ,
	        Email = #{email} ,
	        MobilePhone = #{mobilePhone} ,
	        Address = #{address} ,
	        Career = #{career} ,
	        Industry = #{industry} ,
	        Locked = #{locked} ,
	        SignTime = #{signTime} 
        WHERE 
	        UserNo = #{userNo} 
	</update>

    <delete id="deleteByPrimaryKeys"> 
        DELETE FROM User WHERE
        UserNo = #{id} 
    </delete>
	
	 <delete id="delete"> 
        DELETE FROM User WHERE
        <include refid="User_where" />
    </delete>
	
	<sql id="User_where">
		<where>	      				
              <if test="userNo != null" >
                        AND UserNo = #{userNo}  
               </if>
              <if test="userName != null" >
                        AND UserName = #{userName}  
               </if>
              <if test="password != null" >
                        AND Password = #{password}  
               </if>
              <if test="credentialsSalt != null" >
                        AND CredentialsSalt = #{credentialsSalt}  
               </if>
              <if test="email != null" >
                        AND Email = #{email}  
               </if>
              <if test="mobilePhone != null" >
                        AND MobilePhone = #{mobilePhone}  
               </if>
              <if test="address != null" >
                        AND Address = #{address}  
               </if>
              <if test="career != null" >
                        AND Career = #{career}  
               </if>
              <if test="industry != null" >
                        AND Industry = #{industry}  
               </if>
              <if test="locked != null" >
                        AND Locked = #{locked}  
               </if>
              <if test="signTime != null" >
                        AND SignTime = #{signTime}  
               </if>
		</where>
	</sql>
	
	<select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT <include refid="User_columns" />
		FROM User
		WHERE UserName = #{userName}
	</select>
	
</mapper>

