<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nblog.dao.UserPasswordChangeMapper">
  <resultMap id="BaseResultMap" type="com.nblog.bean.UserPasswordChange">
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="OldPassword" jdbcType="VARCHAR" property="oldpassword" />
    <result column="NewPassword" jdbcType="VARCHAR" property="newpassword" />
    <result column="ChangeTime" jdbcType="VARCHAR" property="changetime" />
  </resultMap>
  <insert id="insert" parameterType="com.nblog.bean.UserPasswordChange">
    insert into userpasswordchange (Name, OldPassword, NewPassword, 
      ChangeTime)
    values (#{name,jdbcType=VARCHAR}, #{oldpassword,jdbcType=VARCHAR}, #{newpassword,jdbcType=VARCHAR}, 
      #{changetime,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select Name, OldPassword, NewPassword, ChangeTime
    from userpasswordchange
  </select>
</mapper>