<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.nblog.dao.UserPasswordChangeMapper">

	<resultMap id="BaseResultMap" type="com.nblog.bean.UserPasswordChange">
		
		<id column="SystemNo" jdbcType="VARCHAR" property="systemNo" />
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="OldPassword" jdbcType="VARCHAR" property="oldPassword"/>
        <result column="NewPassword" jdbcType="VARCHAR" property="newPassword"/>
        <result column="ChangeTime" jdbcType="VARCHAR" property="changeTime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="UserPasswordChange_columns">
	    
        	SystemNo,
        	Name,
        	OldPassword,
        	NewPassword,
        	ChangeTime
	    
	</sql>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM UserPasswordChange
			WHERE SystemNo = #{systemNo}
	</delete>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="com.nblog.bean.UserPasswordChange" useGeneratedKeys="true" keyProperty="systemNo">
    
        INSERT INTO UserPasswordChange (
        	SystemNo ,
        	Name ,
        	OldPassword ,
        	NewPassword ,
        	ChangeTime 
        ) VALUES (
			#{systemNo} ,
			#{name} ,
			#{oldPassword} ,
			#{newPassword} ,
			#{changeTime} 
        )
	</insert>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT <include refid="UserPasswordChange_columns" />
		FROM UserPasswordChange
		WHERE SystemNo = #{systemNo}
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT <include refid="UserPasswordChange_columns" />
		FROM UserPasswordChange
	</select>
	
	<select id="selectByPage" resultMap="BaseResultMap">
		SELECT <include refid="UserPasswordChange_columns" />
		FROM UserPasswordChange
	</select>
	
	<update id="updateByPrimaryKey" parameterType="com.nblog.bean.UserPasswordChange">
		UPDATE UserPasswordChange SET
	        Name = #{name} ,
	        OldPassword = #{oldPassword} ,
	        NewPassword = #{newPassword} ,
	        ChangeTime = #{changeTime} 
        WHERE SystemNo = #{systemNo}
	</update>
	
	<update id="updateByPrimaryKeys">   
        UPDATE UserPasswordChange SET
	        Name = #{name} ,
	        OldPassword = #{oldPassword} ,
	        NewPassword = #{newPassword} ,
	        ChangeTime = #{changeTime} 
        WHERE 
	        SystemNo = #{systemNo} 
	</update>

    <delete id="deleteByPrimaryKeys"> 
        DELETE FROM UserPasswordChange WHERE
        SystemNo = #{id} 
    </delete>
	
	 <delete id="delete"> 
        DELETE FROM UserPasswordChange WHERE
        <include refid="UserPasswordChange_where" />
    </delete>
	
	<sql id="UserPasswordChange_where">
		<where>	      				
              <if test="systemNo != null" >
                        AND SystemNo = #{systemNo}  
               </if>
              <if test="name != null" >
                        AND Name = #{name}  
               </if>
              <if test="oldPassword != null" >
                        AND OldPassword = #{oldPassword}  
               </if>
              <if test="newPassword != null" >
                        AND NewPassword = #{newPassword}  
               </if>
              <if test="changeTime != null" >
                        AND ChangeTime = #{changeTime}  
               </if>
		</where>
	</sql>
	
	
</mapper>

